@import '~antd/dist/antd.css';

.typePad{
    margin-top: 20px;
}

.ant-input-number-input {
    text-align: right;
}

.ant-input-number-group-wrapper {
    width: 100%;
}

.ant-layout-header{
    background-color:white;
} 

.ant-input-number-group-addon, .ant-btn-lg, .ant-input-number-input-wrap{
    font-size:20px;
}

.ant-btn-lg{
    width: 100%;
    min-width: 80px;
    height: 80px;
}

.ant-row {
    justify-content: center;
}

.logo {
    height: 50px;
}